/*game intf start*/
.disappear {
      opacity: 0;
      transform: translateY(-100px);
}
.dis2{
    display: none;
}
.musicDown{
    opacity: 0.5;
}

/*heading message anm*/
.dash{
    display: block;
}